*{
    padding: 0px;
    margin: 3px;
    box-sizing: border-box;
    font-family: sans-serif;
    margin-left: 0px;
}
body{
    text-align: center;
    margin-top: 100px;
    background:url(login_background_image.jpg) no-repeat;
    border: 2px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 600px;
    display: flex;
}
.wpaper{
    width: 360px;
    height: 400px;
    background: transparent;
    margin-left: 40%;
    border-radius: 15px; 
    border: 2px solid black;
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 10px black;
}
.wpaper h1{
    color: rgb(4, 4, 4);
    padding-top: 35px;
    font-size: 35px;
    font-size: bold;
}
.wpaper .inputbox{
    width: 100%;
    height: 50%;
    margin-top: 20px;
}
.inputbox input{
    height: 100%;
    width: 90%;
    background-color: azure;
    border-radius: 50px;
    text-align: left 10px;
    border: 2px solid black;
    font-size: 18px;
    padding: 10px 35px 10px 35px;

}
/*  .inputbox input ::placeholder{
    color: #050605; 
} */
.wpaper .rember label {
    color: hsl(0, 78%, 4%);
    margin-top: 30px;
    margin-right: 60px; 
}
.wpaper .rember label input {
    color: hsl(0, 85%, 3%);
    margin-top: 25px;
}
.wpaper .rember a{
    color: rgb(243, 224, 9);
}
.wpaper button{
    background-color: rgb(246, 14, 14);
    border: 2px solid black;
    border-radius: 22px;
    margin-top: 25px;
    padding: 10px 30px;
    font-size: 20px;
    font-size: bold;
    padding-top: 5px;
    box-shadow: 2px 4px 10px black;
}
.wpaper p{
    margin-top: 10px;
    color: aquamarine;
}
.wpaper .rember a {
    text-decoration: none;
}
.wpaper p a{
    text-decoration: none;
    color: chartreuse;
}
.inputbox img{
    position: absolute;
    right: 30px;
    margin-top: 11px;
    position: fixed;
}
.wpaper .button :hover{
    box-shadow: 0px 4px 15px black;
    background-color: aqua;
    transition: 1s;
}

